<h1>List of users</h1>

<hr>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>

  
  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
      <td>
        <%= a_user.username %>
      </td>

      <td>

        
            <%if a_user.private == true%>
              <%result = "Yes"%>

            <%else%>
              <%result = "No"%>
              
            <%end%>              
                
        <%= result %>
      </td>

      <% if current_user != nil %>

        <% if current_user.following.where(username:a_user.username).at(0) == nil%>
      
          <td>
                <form action="/insert_follow_request" method="post">
                  <input type="hidden" name="query_recipient_id" value= "<%= a_user.id %>">
                  <input type="hidden" name="query_sender_id" value= "<%= current_user.id %>">
                  <input type="hidden" name="query_status" value= "pending">

                  <button>
                    Follow
                  </button>
                </form>

          </td>

        <%elsif current_user.sent_follow_requests.where(sender_id: current_user.id, recipient_id: a_user.id, status: "accepted").at(0) != nil  %>

          <td>
            <a href="/delete_follow_request/<%=current_user.sent_follow_requests.where(sender_id: current_user.id, recipient_id:a_user.id ).at(0).id%>">Unfollow</a>
          </td>

        <%else%>

          <td>
          Request sent. <a href="/delete_follow_request/<%=current_user.sent_follow_requests.where(sender_id: current_user.id, recipient_id:a_user.id ).at(0).id%>">Cancel</a>
          </td>

        <%end%>

      <%else%>

        <td></td>

      <%end%>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
