<h1><%= @the_user.username %></h1>

<dl>

  <dt>Private</dt>
  <dd> <%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd> <%=@the_user.followers.count%></dd>

  <% if current_user.following.where(username:@the_user.username).at(0) == nil%>
      <form action="/insert_follow_request" method="post">
        <input type="hidden" name="query_recipient_id" value= "<%= @the_user.id %>">
        <input type="hidden" name="query_sender_id" value= "<%= current_user.id %>">
        <input type="hidden" name="query_status" value= "pending">

        <button>
          Follow
        </button>
      </form>
    
    <%else%>
      <div>
      <a href="/delete_follow_request/<%=current_user.sent_follow_requests.where(sender_id: current_user.id, recipient_id: @the_user.id).at(0).id%>">Unfollow</a>
      </div>
  <%end%>

  <dt>Following</dt>
  <dd> <%=@the_user.following.count%></dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%=@the_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>


<h2>Own photos (<%= @the_user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th>
    </th>
  </tr>

  <% @the_user.own_photos.each do |a_photo| %>

    <tr>
      <td>
        <img src=<%= a_photo.image %>>
      </td>

      <td>
        <%= a_photo.owner.username %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= a_photo.creation2 %>
      </td>

      <td>
        <%= a_photo.likes_count %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
